.menu_btn {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  span {
    width: 35px;
    height: 5px;
    background-color: var(--white);
    margin: 3px 0;
    transition: 0.4s;
  }

  &.opened span {
    position: relative;

    &:nth-child(1) {
      -webkit-transform: rotate(-45deg) translate(-9px, 9px) ;
      transform: rotate(-45deg) translate(-9px, 9px) ;
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      -webkit-transform: rotate(45deg) translate(-7px, -7px) ;
      transform: rotate(45deg) translate(-7px, -7px) ;
    }
  }
}

@media only screen and (min-width: 960px) {
  .menu_btn {
    display: none;
  }
}