.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--black);
}

body.overflow-hidden {
    margin: 0;
    padding-right: 15px;
    height: 100%;
    overflow: hidden;
}

.section-text-header {
    width: 100%;
    color: var(--white);
    text-align: center;
}
