:root {
    --header-height: 5rem;
    --main-margin-top: 6rem;
    --nav-mobile-width: 270px;
    --white: #FFFFFF;
    --black: #000000;
    --gray-dark: #333333;
    --gray-medium: #666666;
    --gray-light: #999999;
    --gray-lighter: #f7f7f7;
    --link-color: #FFE400;
    --link-active: #FFFFFF;
    --badge-bg-color: #CC2062;
    --error-color: red;
}
