.search_form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 3rem 0;

  form {
    display: flex;
    width: 100%;
    max-width: 350px;

    input[type=text] {
      width: 100%;
      max-width: 300px;
      padding: 0.5rem 2rem;
      font-size: 17px;
      border: 1px solid grey;
      background: var(--white);
    }

    input[type=submit] {
      padding: 0.5rem 2rem;
      background: grey;
      color: var(--white);
      font-size: 17px;
      border: 1px solid grey;
      border-left: none;
      outline: none;
      cursor: pointer;

      &:hover {
        background: var(--gray-dark);
      }
    }
  }
}