.gallery_item {
  grid-column: span 1;
  grid-row: span 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  max-width: 220px;
  margin: 0 auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  cursor: pointer;

  &:hover {
    border: 1px solid rgba(255, 255, 255, 0.8);
    transform: scale(1.05, 1.05);
  }

  .data_info {
    width: 100%;
    max-width: 220px;
    font-weight: 400;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.25rem 0.5rem;

    p {
      margin: 0;
    }

    .text_title {
      font-weight: 700;
    }
  }
}